<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5>Connect With Me!</h5>
        <div class="social links my-3">
          
          <a href=https://github.com/1adyan target="_blank" class="mx-2">
            <i class="fab fa-github fa-2x"></i>
          </a>
          
          <a href=https://www.linkedin.com/in/adyan-iqbal-26476a325 target="_blank" class="mx-2">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
        </div>
        <p>Email: <a href="mailto:adyaniqbal17@gmail.com">adyaniqbal17@gmail.com</a></p>
        <p>&copy; 2025 Adyan Iqbal. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>